node_modules
.DS_Store
.zero
example
dist
zero-builds
*.log
test/www/package.json
test/www/yarn.lock
test/www/.gitignore
test/www/.babelrc
test/www/hmr/*
packages/handler-python/get-pip.py
__pycache__