body {
  margin-top: 10px;
  font-family: Verdana, Arial, sans-serif;
}

.header-section {
  background-color: #FF6600;
}

.header-section a {
  color: #000;
  margin-top: 4px;
  font-size: 14px;
}

.main-link {
  font-weight: bold;
}

#topImage {
  border: 1px solid white;
  margin: 4px 4px;
}

.container-fluid {
  width: 85%;

}

.main-section {
  padding-top: 10px;
  background-color: #f6f6ef;
  font-size: 13px;
}

.commentStuff {
  font-size: 10px;
  padding-left: 15px;
}

#more {
  padding-left: 30px;
  padding-bottom: 10px;
}

.footer {
  width: 83.5%;
  text-align: center;
  border: none;
  border-top: 2px solid #FF6600
}

.footer-menu {
  padding: 10px;
  font-size: 11px;
  text-decoration: none;
}

.footer-menu a {
    color: #000;
}

.searchInput {
  font-size: 12px;
  padding-bottom: 15px;
  color: #9a9a9a;
}
/* Element Styling */

td {
  padding: 5px;
}


small, .number, .commentStuff {
  color: #9A9A9A;
}